
#product-overview{
    background: linear-gradient(to top, rgba(80,68,18,0.6) 10%,transparent),
    url("images/freedom.jpg")
    left 0 top 10%/cover no-repeat border-box,
    #ff1b68;
    letter-spacing: 2px;
    width: 100%;
    /* background-image: radial-gradient(circle,red,blue,green); */
    height: 528px;
    padding: 10px;
    margin-top: 43px;
    position: relative;
    border: 5px dotted red;
    outline: 5px solid black;
    
}
#product-overview h1 {
    color: white;
    padding: 20px;
    font-family: 'Roboto',sans-serif;
    text-align:center;
}
.plan__list{
    width: 80%;
    margin: auto;
    text-align:center;
}

.plan{
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan--highlight{
    background: #19b84c; 
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__annotation{
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}
.plan__title{
    color: #0e4f1f;
}
.plan__price{
    letter-spacing: 2px;
    color: rgb(133,133,133);
}
.plan--highlight .plan__price {
    color: #0e4f1f;
}
.plan--highlight .plan__title{
    color: white;
}
.plan__features{
    list-style: none;
    margin:0;
    padding:0;
}
.plan__features li {
    margin: 8px 0; 
}

.section-title{
    color: #2ddf5c; 
    text-align: center;
}
#key-features{
    background: black;
    margin-top:80px;
    padding: 16px;
}
#key-features .section-title{
    color:white;
    margin: 32px;
}
.key-feature__list{
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
}
.key-feature__list-item{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.key-feature__image{
    background: #ffcede;
    width: 128px;
    height:128px;
    margin: 0 auto;
    border: 2px solid #424242;
    border-radius: 50%;
    padding: 20px;
    stroke: red;
    stroke-width: 10px;
}
.key-feature__description{
    text-align:center;
    font-weight: bold;
    color:white;
    font-size: 20px;
}

.main-nav{
    display: inline-block;
    text-align:right;
    width: calc(100% - 74px);
    vertical-align: middle;
}
.main-nav__items{
    margin:0;
    padding:0;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-nav__item a {
    text-decoration:none;
    color: #0e4f1f;
    font-weight: bold;
}

.main-nav__item a:hover{
    color: black;
    border-bottom: 5px solid white;
    padding-bottom: 2px;
}
.main-nav__item a:active{
    color:black;
}
p::first-letter{
    color:red;
    font-size: 20px;
}
.main-nav__item--cta a {
    color:white;
    background:#ff1b68;
    padding:8px 16px;
    border-radius: 8px;
}
.main-nav__item--cta a:hover, .main-nav__item--cta a:active{
    color: #ff1b68;
    background:white;
    border:none;
}
