* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.backdrop{
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}
.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
    height: 80px;
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 22px;
    display: inline-block
}
.main-header__brand img{
    height: 100%;
    vertical-align: middle;
}
.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top:0;
    padding-bottom: 0;
    vertical-align: middle;
}
.toggle-button:focus{
    outline: none;
}
.toggle-button__bar{
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

.main-nav__item a,.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
}

.main-nav__item a:hover {
    color: black;
    border-bottom: 5px solid white;
    padding-bottom: 2px;
}

.main-nav__item a:active {
    color: black;
}

p::first-letter {
    color: red;
    font-size: 20px;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    color: white;
    padding: 32px;
    margin-top: 48px;
}

.button {
    background: #0e4f1f;
    color: white;
    font-family: inherit;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 5px dotted red;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
    border: 5px solid black;
}

.button:focus {
    outline: none;
}
.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: goldenrod;
    border-bottom: 5px dotted goldenrod;
}

.mobile-nav{
    display:none;
    position:fixed;
    z-index: 101;
    top:0;
    left:0;
    background: white;
    width: 80%;
    height: 100vh;
}
.mobile-nav__items{
    list-style: none;
    width: 90%;
    height: 100%;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}
.mobile-nav__item{
    margin: 1rem 0;
}
.mobile-nav__item a{
    font-size: 1.5rem;
}
.open{
    display: block;
}