body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 5px;
    letter-spacing: 2px;
}
a:hover{
    text-decoration:underline;
    background: red;
    color:white;
}
a.active{
    color: #521751;
    background: magenta;
    border-radius: 2px;
    
}
a:not(.active){
    color: blue;
}


.main-section {
    height: 800px;
    border: 1px solid #ccc !important;
    padding: 16px;
}

.highlighted{
    border: 2px solid #fa923f;
}